*{
    margin: 0;
    padding: 0;
}
/* *****************
font-family: 'Source Sans Pro', sans-serif;
*********************/
.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/donation9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-details{
    text-align: center;
    padding-top: 280px;
    font-family: 'Source Sans Pro', sans-serif;
}
.header-details h1{
    font-size: 58px;
    color: aliceblue;
    width: 50%;
    margin: 0 auto;
}
.header-details p{
    color:1B2430;
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    margin: 40px auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.donet-link, .d-link a{
    text-decoration: none;
    background-color: tomato;
    padding: 14px 40px;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;

}
/* **************************
Donate Today Css
******************************/
.donate-today{
    width: 100%;
    padding-top: 60px;
}
.d-title{
    color: rgb(218, 20, 20);
    text-align: center;
}
.d-title h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 600;
    padding: 8px 0px;

}
.d-title p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.amount-tag{
    padding:40px 0;
    display: flex;
    justify-content:center;    
}
#price, #price2, #price3, #price4 {
    width: 130px;
    height: 130px;
    border: 3px solid #F6FBF4;
    margin-right: 30px;
    text-align: center;
    line-height: 130px;
    background-color: #F6FBF4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 600;
}
#price1{
    width: 130px;
    height: 130px;
    border: 3px solid #EB4747;
    margin-right: 30px;
    text-align: center;
    line-height: 130px;
    background-color: #FFDEDE;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 600;

}
.other-taka h6{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: rgb(71, 73, 74);

}
.line{
    width: 55%;
    height: 2px;
    background: #757574;
    margin-left: 320px;  
    margin-top: 20px;
}
.d-link{
    text-align: center;
    margin-top: 60px;
}
/* *************************
Our Donate Plan
****************************/
.donate-plan{
    width: 100%;
    padding-top: 80px;
    text-align: center;
}
.donate-plan h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.donate-plan p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
/* *************************
dp-box CSS
****************************/
.dp-box{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
/* *************************
footer CSS
****************************/
.f-tag{
    width: 100%;
    background-color: #06283D;
    height: 15vh;
    text-align: center;
    margin-top: 40px;
}
.f-tag h3{
    color: azure;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 28px;
    padding-top: 30px;

}
.f-tag p{
    color: azure;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 18px;
    padding:8px 0;

}
